# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
dist
build
.mastra
.next
out

# Environment files
.env
.env.*

# Database
*.db
*.sqlite

# Logs
*.log
logs

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db
